---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Founder from "../components/Founder.astro";
import Services from "../components/Services.astro";
import Approach from "../components/Approach.astro";
import Banner from "../components/Banner.astro";
import NR1 from "../components/NR1.astro";
import Palestras from "../components/Palestras.astro";
import ServicesDetail from "../components/ServicesDetail.astro";
import MainCTA from "../components/MainCTA.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Founder />
    <Services />
    <Approach />
    <Banner />
    <NR1 />
    <Palestras />
    <ServicesDetail />
    <MainCTA />
  </main>
  <Footer />
</BaseLayout>
